### Required dependencies

The following dependencies require some additional dependencies for your application to start up properly:

{{#requiredDependencies}}
* {{name}}: {{description}}
{{/requiredDependencies}}
