### Supporting Infrastructure
The following gives you a list to conveniently get any infrastructure required by your application:

{{#supportingInfrastructure}}
* {{name}}: [{{description}}]({{location}})
{{/supportingInfrastructure}}
